---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props.frontmatter;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			.prose :global(p) {
				margin-bottom: 1.5em;
				line-height: 1.7;
			}
			.prose :global(a) {
				color: var(--accent);
			}
			.prose :global(a:hover) {
				text-decoration: underline;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.terminal-prompt {
				color: var(--accent);
				margin-right: 0.5rem;
				user-select: none;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1><span class="terminal-prompt">&gt;</span>ABOUT</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
